div.row
    div#content.col-md-8.col-md-offset-2
        h2
            | About WIC
        p.
            WIC is a federally-funded health and nutrition program for women, infants, and children.  WIC helps families by providing checks for buying healthy supplemental foods from WIC-authorized vendors, nutrition education, and help finding healthcare and other community services.  Participants must meet income guidelines and be pregnant women, new mothers, infants or children under age five.  In California, 84 WIC agencies provide services locally to over 1.45 million participants each month at over 650 sites throughout the State.
        div.video-container
            iframe(width='420', height='315', src='//www.youtube.com/embed/xI9ZEnX7tTk', frameborder='0' allowfullscreen)
        h3
            | Resources for Mothers
        ul
            li
                a(href='/programs/wicworks/Pages/WICBreastfeeding.aspx', target='_blank', title='Information about breastfeeding')
                    | Information about breastfeeding
            li
                a(href='/programs/wicworks/Pages/WICNECookingwithChildren.aspx', target='_blank', title='Cooking Tips and Recipes')
                    | Cooking tips and recipes
            li
                a(href='/programs/wicworks/Pages/WICImmunizationResources.aspx', target='_blank', title='Immunization Resources')
                    | Immunization Resources