pre
    | {{ success }}
    | {{ reason }}
if(success)
    | You probably qualify for WIC!
else
    if (reason == 'residency')
        p
            | Sorry, you have to live in-state to qualify for WIC in California. If you're moving here, WIC can work with you. Give them a call at
            a(href='tel://888-942-9675')
                | 1-888-WIC-WORKS
            | .
    else if (reason == 'category')
        p
            | Sorry, WIC is for people who identify with one of the following:
        ul
            li
                | Women who are pregnant, breastfeeding, or just had a baby.
                | Children under 5 years old (including foster children)
                | Families with low to medium income (working families may qualify)
    else if (reason == 'income')
        p
            | Sorry, WIC is for families making less than 185% of the Federal Poverty Level ($23,850 for a family of four in 2014).