p
    | This short survey is designed to help you figure out if you qualify for WIC. Your answers are <em>not</em> saved, this is just for you to figure out if you qualify for WIC.
p.warning
    | Please keep in mind, this is just a guide. Only local WIC Agency staff can determine for certain if you qualify for WIC services.
    | Call&nbsp;
    a(href='tel://888-942-9675')
        | 1-888-WIC-WORKS
    |  to find out for sure if you qualify.
div.form-group.qualify.residency
    span.form-group-label
        | Do you live in California?
    button(ng-click='result(false, "residency")')
        | no
    button(ng-click='next("qualify.category.pregnant")')
        | yes