div.form-group.qualify.category.breastfeeding
    span.form-group-label
        | Are you breastfeeding a child that is less than one year-old?
    button(ng-click='next("qualify.category.infant")')
        | No
    button(ng-click='next("qualify.income")')
        | Yes