div#content.col-md-8.col-md-offset-2
    form#qualify
        h2
            | Do I qualify for WIC?
        ui-view
    p.info
        |  If you have any ideas on how we can improve this feature, please tweet us <a href="http://twitter.com/wicitapp">@wicitapp</a>.