div.form-group.qualify.residency
    span.form-group-label
        | Do you live in California?
    button(ng-click='negativeResult("residency")')
        | no
    button(ng-click='next("qualify.category.pregnant")')
        | yes