div.form-group.qualify.category.pregnant
    span.form-group-label
        | Are you pregnant?
    button(ng-click='next("qualify.category.breastfeeding")')
        | No
    button(ng-click='next("qualify.income")')
        | Yes