div.form-group.qualify.category.child
    span.form-group-label
        | Do you have a child that is less than five years-old?
    button(ng-click='next("qualify.category.otherprograms")')
        | No
    button(ng-click='next("qualify.income")')
        | Yes