div.form-group.qualify.category.infant
    span.form-group-label
        | Do you have a child that is less than six months-old?
    button(ng-click='next("qualify.category.child")')
        | No
    button(ng-click='next("qualify.income")')
        | Yes