div#header
    div
        div.logo
            img(src='image/logo.png', title='WICit, Where and How to Get and Use WIC.')
            p
                | Where and how to get and use WIC
        include menu