extends layout
block content
    include header
    div#map-container(ng-controller='mapCtrl', class="{{mapLoading ? 'loading' : ''}}")
        leaflet(defaults='defaults', center='center', markers='markers')