doctype html
html(ng-app="wicItApp", ng-controller='AppCtrl')
  head
    title= title
    meta(name='description', content= description)
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', href='components/leaflet.markercluster/dist/MarkerCluster.Default.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    script(type='text/javascript', src='/components/angular/angular.js')
  body(ng-class='$state.current.name')
    block content