doctype html
html(ng-app="wicItApp")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', href='components/leaflet.markercluster/dist/MarkerCluster.Default.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='/components/bootstrap-sass-official/assets/javascripts/bootstrap.js')
    script(type='text/javascript', src='/components/angular/angular.js')
    script(type='text/javascript', src='/components/angular-animate/angular-animate.js')
    script(type='text/javascript', src='/components/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='/components/leaflet/dist/leaflet.js')
    script(type='text/javascript', src='/components/leaflet.markercluster/dist/leaflet.markercluster.js')
    script(type='text/javascript', src='components/angular-leaflet-directive/dist/angular-leaflet-directive.js')
    script(type="text/javascript", src='/javascripts/services/notifications.js')
    script(type="text/javascript", src='/javascripts/services/geolocation.js', )
    script(type="text/javascript", src='/javascripts/controllers/map.js')
    script(type="text/javascript", src='/javascripts/controllers/approved-items.js')
    script(type="text/javascript", src='/javascripts/controllers/qualify.js')
    script(type="text/javascript", src='/javascripts/controllers/about.js')
    script(type="text/javascript", src='/javascripts/app.js')
  body
    block content