div#menu-wrapper
    ul#main-menu
        li(ui-sref-active='active')
            a(ui-sref='map')
                | WIC Locations
        li(ui-sref-active='active')
            a(ui-sref='qualify.residency')
                | Do I Qualify?
        li(ui-sref-active='active')
            a(ui-sref='about')
                | About WIC