div#menu-wrapper
    ul#main-menu
        li(ui-sref-active='active')
            a(ui-sref='map')
                | Who Accepts WIC?
        li(ng-class='{active : $state.includes("qualify")}')
            a(ui-sref='qualify.residency')
                | Do I Qualify?
        li(ui-sref-active='active')
            a(ui-sref='about')
                | What Is WIC?
        li(ui-sref-active='active')
            a(ui-sref='search')
                | Which Foods Qualify?
