script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(type='text/javascript', src='/components/bootstrap-sass-official/assets/javascripts/bootstrap.js')
script(type='text/javascript', src='/components/angular/angular.js')
script(type='text/javascript', src='/components/angular-animate/angular-animate.js')
script(type='text/javascript', src='/components/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='/components/leaflet/dist/leaflet.js')
script(type='text/javascript', src='/components/leaflet.markercluster/dist/leaflet.markercluster.js')
script(type='text/javascript', src='components/angular-leaflet-directive/dist/angular-leaflet-directive.js')
script(type="text/javascript", src='/javascripts/services/notifications.js')
script(type="text/javascript", src='/javascripts/services/geolocation.js', )
script(type="text/javascript", src='/javascripts/controllers/map.js')
script(type="text/javascript", src='/javascripts/controllers/qualify.js')
script(type="text/javascript", src='/javascripts/controllers/about.js')
script(type="text/javascript", src='/javascripts/app.js')