#header {
  z-index: 2;
  width: 100%;
  background-color: $brand-primary;
  text-align: center;
}

.logo {
  display: inline-block;
  padding: 5px 10px;
  h1.title {
    color: #fff;
    font-family: $cursive;
    margin: 0;
  }
  p {
    color: #fff;
    font-weight: 100;
  }
}