body.map {
  width: 100%;
  height: 100%;
  background-image: none;
  #header {
    z-index: 2;
    position: absolute;
    background-image: none;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 3px rgba(0, 0, 0, .2);
  }
  #container {
    height: 100%;
    width: 100%;
  }
}

#map-container {
  height: 100%;
  width: 100%;
  background-color: $brand-secondary;
  &.loading {
    background: $brand-secondary url('../image/loader.gif') no-repeat center center;
    .angular-leaflet-map {
      opacity: 0;
    }
  }
  .angular-leaflet-map {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .leaflet-bottom.leaflet-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
  }

  .locate-control {
    background: #fff url('../image/geolocate.png') no-repeat center center;
    background-size: 14px 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 26px;
    height: 26px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    margin: 0 10px 10px 0;
  }

  .locate-control:hover {
    background-color: #f4f4f4;
  }

  .leaflet-retina .locate-control {
    background-size: 18px;
    width: 34px;
    height: 34px;
  }


}

.leaflet-container a.leaflet-popup-close-button {
  color: $brand-primary;
  top: 5px;
  right: 5px;
  &:hover {
    color: $brand-secondary;
  }
}

.leaflet-popup-content-wrapper {
  font-family: Oxygen, sans-serif;
  color: $brand-text;
  background-color: #fff;
  border: 2px solid $brand-secondary;
  @include border-radius(8px);
  .leaflet-popup-content {
    background-color: transparent;
    text-align: center;
    p.address {
      font-size: .8em;
    }
    p.directions {
      font-size: 1.2em;
      a {
        color: $brand-primary;
        font-weight: bold;
        text-transform: uppercase;
      }
      a:hover {
        color: $brand-secondary;
      }
    }
  }
}

.marker-cluster-small {
  background-color: rgba($brand-warning, .6);
}
.marker-cluster-small div {
  background-color: rgba($brand-warning, .2);
}

.marker-cluster-medium {
  background-color: rgba($brand-secondary, .6);
}
.marker-cluster-medium div {
  background-color: rgba($brand-secondary, .2);
}

.marker-cluster-large {
  background-color: rgba($brand-primary, .6);
}
.marker-cluster-large div {
  background-color: rgba($brand-primary, .2);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  font: 14px "Helvetica Neue", Oxygen, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}