body.map {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: flex-end; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  #container {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
}

#map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .angular-leaflet-map {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  background-color: $brand-info;
  &.loading {
    background: $brand-info url('../image/loader.gif') no-repeat center center;
    .angular-leaflet-map {
      opacity: 0;
    }
  }
  .angular-leaflet-map {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .leaflet-control-zoom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0;
  }

}

.leaflet-container a.leaflet-popup-close-button {
  color: $brand-primary;
  top: 5px;
  right: 5px;
  &:hover {
    color: $brand-info;
  }
}

.leaflet-popup-content-wrapper {
  font-family: Oxygen, sans-serif;
  color: $brand-text;
  background-color: #fff;
  border: 2px solid $brand-info;
  @include border-radius(8px);
  .leaflet-popup-content {
    background-color: transparent;
    text-align: center;
    p.address {
      font-size: .8em;
    }
    p.directions {
      font-size: 1.2em;
      a {
        color: $brand-primary;
        font-weight: bold;
        text-transform: uppercase;
      }
      a:hover {
        color: $brand-info;
      }
    }
  }
}

.marker-cluster-small {
  background-color: rgba($brand-warning, .6);
}
.marker-cluster-small div {
  background-color: rgba($brand-warning, .2);
}

.marker-cluster-medium {
  background-color: rgba($brand-info, .6);
}
.marker-cluster-medium div {
  background-color: rgba($brand-info, .2);
}

.marker-cluster-large {
  background-color: rgba($brand-primary, .6);
}
.marker-cluster-large div {
  background-color: rgba($brand-primary, .2);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  font: 14px "Helvetica Neue", Oxygen, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}