#menu-wrapper {
  border-bottom: none;
}

#main-menu {
  display: table;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  width: 100%;
  li {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
    background-color: $brand-primary;
    width: 25%;
    a {
      background-color: transparent;
      text-decoration:none;
      color: #fff;
      font-weight: 100;
      display: block;
      width: 100%;
      padding: 10px;
    }
    &:hover {
      background-color: $brand-secondary;
    }
    &.active, &.active:hover {
      background-color: $brand-secondary;
    }
  }
}