#global-notifications {
  position: absolute;
  max-width: 50%;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    background-color: $brand-info;
    color: #fff;
    display: block;
    padding: 10px;
    border: 2px solid #fff;
    border-bottom: none;
    border-left: none;
    text-transform: uppercase;
    &:last-of-type {
      padding-bottom: 30px;
    }
    &.warning {
      background-color: rgba($brand-warning, .6);
    }
    &.error {
      background-color: rgba($brand-error, .6);
    }
    &.success {
      background-color: rgba($brand-success, .6);
    }
  }
}