.form-group.qualify {
  padding: 20px;
  text-align: center;
  button {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  li {
    text-align: left;
  }

  .family-count, .family-payperiod, .currency-sign, .per {
    margin-left: 10px;
  }
  .currency-sign {
    margin-right: 5px;
  }
}