#qualify-form {
  background-color: $brand-primary;
  color: #fff;
  padding: 20px;
  .radio {
    .form-group-label {
      font-size: 200%;
      font-weight: 100;
    }
    text-align: center;
    label{
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}