$brand-primary:         #A4A436;
$brand-success:         #A4A436;
$brand-info:            #8C8A34;
$brand-text:            #444444;
$brand-warning:         #B06B5C;
$brand-danger:          #B06B5C;
$brand-error:           #B06B5C;

@include keyframes(throbble) {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}